<configuration>

    <appender name="WIKI_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_LOCATION}</fileNamePattern>
            <maxHistory>${LOG_LIFECYCLE}</maxHistory> <!-- LOG_LIFECYCLE 일수만큼 저장 -->
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--  로그를 파일과 콘솔에 동시에 남기도록 설정  -->
    <logger name="com.example.semiwiki_backend" level="INFO" additivity="false">
        <appender-ref ref="WIKI_LOG" />
        <appender-ref ref="CONSOLE" />
    </logger>

</configuration>
